/* адаптив */

@media (max-width: 1420px) {

  .image-none {
    display: none;
  }

  .non-display-button {
    display: block;
  }

  .carret-left,
  .carret-right {
    display: block;
  }

  /* .favorites-books {
    flex-direction: column;
  } */

}

@media (max-width: 1300px) {

  .favorites-books {
    flex-direction: column;
  }

  .contacts-container {
    flex-direction: column;
    gap: 100px;
  }

  .coffeeshop-menu {
    flex-direction: column;
    gap: 40px;
  }

  .coffee-menu {
    align-self: flex-start;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .get-card {
    align-self: center;
     text-align: center;
     margin-top: 20px;
  }

  .get-card-text {
  /* margin-left: 4px;
  margin-top: 2px; */
    /* text-align: center; */
    /* display: block; */
    width: 650px;
  }

  .card-description {
    text-align: center;
    width: 650px;
    /* display: block; */
  }

  .card-buttons {
    align-self: center;
    /* margin-left: 4px; */
  }

}

@media (max-width: 1024px) {

  .burger-menu
  {
    display: block;
  }

  .nav-menu {
      display: none;
    }

  .user-icon {
    margin-right: 40px;
  }

  /* .coffeeshop-menu {
      flex-direction: column;
      gap: 40px;
  }

  .coffee-menu {
   align-self: flex-start;
  } */

}

@media (max-width: 768px) {
  .coffeeshop {
    max-width: 768px;
    width: 100%;
  }
}


  /* .nav-menu {
      position: absolute;
      right: 0;
      top: 73px;
      width: 332px;
      height: auto;
      background-color: var(--black);
      z-index: 1000;
  }

  .nav-list {
      flex-direction: column;
    }  */